@import url("https://fonts.googleapis.com/css2?family=Alata&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap");
*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  outline: none;
}

body,
html {
  font-size: 10px;
  font-weight: 400;
  font-family: "Josefin Sans", serif;
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

h1,
h2 {
  font-family: "Josefin Sans", serif;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a:hover,
button:hover {
  transition: all 0.3s ease-in;
  cursor: pointer;
}

.hero__img {
  background-image: url("./images/desktop/image-hero.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 2rem 4rem;
  position: relative;
  height: 95vh;
  height: 95dvh;
}

.hero__img::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: inherit;
  filter: brightness(60%);
}

nav {
  padding: 4rem 8rem;
  position: relative;
}
nav .nav__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 120rem;
  margin: 0 auto;
}
nav .nav__container .nav__logo img {
  max-width: 16rem;
}
nav .nav__container .nav__links {
  display: flex;
  align-items: center;
  filter: brightness(90%);
}
nav .nav__container .nav__list {
  display: flex;
  gap: 3.5rem;
}
nav .nav__container .nav__link {
  text-decoration: none;
  color: hsl(0, 0%, 100%);
  font-size: 1.4rem;
  letter-spacing: 0.02rem;
  transition: color 0.3s;
}
nav .nav__container .nav__item {
  position: relative;
}
nav .nav__container .nav__item .nav__link::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 0.2rem;
  background-color: hsl(0, 0%, 100%);
  transition: width 0.3s;
}
nav .nav__container .nav__item .nav__link:hover::after {
  width: 50%;
}

.nav__hamburger {
  display: none;
  cursor: pointer;
}

.nav__hamburger {
  width: 3rem;
  height: 3rem;
}

.hero__section {
  padding: 6rem 8rem;
}
.hero__section .hero__container {
  border: 0.1rem solid hsl(0, 0%, 100%);
  max-width: 55%;
  height: auto;
  color: hsl(0, 0%, 100%);
  padding: 4rem 2rem;
  position: relative;
}
.hero__section .hero__container p {
  font-size: 5vw;
  font-weight: 200;
  line-height: 1;
  text-transform: uppercase;
}

.interactive__section {
  padding: 8rem 12rem;
  background-color: hsl(0, 0%, 100%);
}
.interactive__section .interactive__container {
  position: relative;
  display: flex;
}
.interactive__section .interactive__container .interactive__img {
  position: relative;
  z-index: 1;
}
.interactive__section .interactive__container .interactive__img img {
  max-width: 90%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}
.interactive__section .interactive__container .interactive__text {
  position: absolute;
  top: 34%;
  left: 50%;
  z-index: 2;
  background-color: hsl(0, 0%, 100%);
  text-align: center;
  max-width: 60%;
  padding: 7vw 0vw 7vw 6vw;
  text-align: left;
}
.interactive__section .interactive__container .interactive__text h1 {
  font-size: 4vw;
  margin-bottom: 2rem;
  text-transform: uppercase;
  font-weight: 200;
  color: hsl(0, 0%, 0%);
  line-height: 1;
}
.interactive__section .interactive__container .interactive__text p {
  font-size: 1.2vw;
  color: hsl(0, 0%, 55%);
  line-height: 1.5;
  font-weight: 400;
}

.creations__section {
  padding: 8rem 12rem;
}
.creations__section .creations__container {
  display: flex;
  flex-direction: column;
}
.creations__section .creations__container .creations__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}
.creations__section .creations__container .creations__header h1 {
  font-size: 4rem;
  font-weight: 200;
  text-transform: uppercase;
}
.creations__section .creations__container .creations__header button {
  padding: 0.8rem 2.8rem;
  background-color: hsl(0, 0%, 100%);
  font-size: 1.4rem;
  text-transform: uppercase;
  letter-spacing: 0.5rem;
  font-weight: 600;
  border: 0.2rem solid hsl(0, 0%, 55%);
  font-family: "Alata", serif;
}
.creations__section .creations__container .creations__header button:hover {
  background-color: hsl(0, 0%, 0%);
  color: hsl(0, 0%, 100%);
  border: 0.2rem solid hsl(0, 0%, 0%);
}
.creations__section .creations__container .creations_images {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
  cursor: pointer;
}
.creations__section .creations__container .creations_images div {
  position: relative;
  text-align: center;
}
.creations__section .creations__container .creations_images div h2 {
  width: 75%;
  position: absolute;
  bottom: 1rem;
  left: 50%;
  transform: translateX(-50%);
  font-size: 2.5vw;
  text-align: left;
  font-weight: 100;
  text-transform: uppercase;
  margin: 0;
  color: hsl(0, 0%, 100%);
  padding: 0.5rem 1rem;
  line-height: 1;
}
.creations__section .creations__container .creations_images div img {
  max-width: 100%;
  height: auto;
}
.creations__section .creations__container .creations_images div .creations_images--mobile {
  display: none;
}
.creations__section .creations__container .creations_images div:hover {
  filter: opacity(25%);
}

footer {
  background-color: hsl(0, 0%, 0%);
  color: hsl(0, 0%, 100%);
  padding: 6rem 12rem;
}
footer .footer__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}
footer .footer__left,
footer .footer__right {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
footer .footer__left img {
  max-width: 50%;
}
footer .footer__right {
  align-items: end;
}
footer .footer__links {
  display: flex;
  gap: 4rem;
  position: relative;
}
footer .footer__links li {
  font-size: 1.4rem;
  font-weight: 300;
  cursor: pointer;
  position: relative;
}
footer .footer__links li::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 0.2rem;
  background-color: hsl(0, 0%, 100%);
  transition: width 0.3s ease;
}
footer .footer__links li:hover::before {
  width: 50%;
}
footer .footer__social {
  display: flex;
  gap: 2rem;
  margin-bottom: 1rem;
  text-align: right;
}
footer .footer__social svg {
  cursor: pointer;
  fill: hsl(0, 0%, 100%);
  position: relative;
  margin-bottom: 0.4rem;
}
footer .footer__social .footer__social--icons {
  display: flex;
  flex-direction: column;
}
footer .footer__social .footer__social--icons::after {
  content: "";
  width: 0;
  height: 0.2rem;
  background-color: hsl(0, 0%, 100%);
  transition: width 0.3s ease;
}
footer .footer__social .footer__social--icons:hover::after {
  width: 100%;
}
footer .footer__copyright {
  font-size: 1.4rem;
  color: hsl(0, 0%, 55%);
  text-align: right;
}

@media (max-width: 768px) {
  .hero__img {
    background-image: url("./images/mobile/image-hero.jpg");
    padding: 2rem 4rem;
  }
  .hero__img::before {
    filter: brightness(100%);
  }
  .nav__link {
    display: none;
  }
  .nav__hamburger {
    display: block;
  }
  nav {
    padding: 4rem 2rem;
  }
  .hero__section {
    padding: 2rem;
    text-align: left;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .hero__section .hero__container {
    max-width: 100%;
  }
  .hero__section .hero__container p {
    font-size: 9vw;
  }
  .interactive__section {
    padding: 8rem 6rem;
  }
  .interactive__section .interactive__container {
    flex-direction: column;
    align-items: center;
  }
  .interactive__section .interactive__text {
    max-width: 80%;
    padding: 3rem;
  }
  .interactive__section .interactive__text h1 {
    font-size: 3rem;
    margin-bottom: 1.5rem;
  }
  .interactive__section .interactive__text p {
    font-size: 1.4rem;
  }
  .creations__section {
    padding: 8rem 6rem;
  }
  .creations__section .creations__container .creations__header h1 {
    font-size: 2.2rem;
  }
  .creations__section .creations__container .creations__header button {
    font-size: 1.1rem;
  }
  .creations__section .creations__container .creations_images {
    grid-template-columns: repeat(2, 1fr);
  }
  .creations__section .creations__container .creations_images h2 {
    font-size: 1.6rem;
  }
  footer {
    padding: 4rem 0rem;
  }
  footer .footer__container {
    flex-direction: column;
    align-items: center;
  }
  footer .footer__container .footer__left,
  footer .footer__container .footer__right {
    align-items: center;
    text-align: center;
  }
  footer .footer__container .footer__social {
    justify-content: center;
  }
  footer .footer__container .footer__links {
    display: flex;
    justify-content: center;
  }
  footer .footer__container .footer__copyright {
    font-size: 2rem;
  }
}
@media (max-width: 480px) {
  nav {
    padding: 4rem 0rem;
  }
  nav .nav__container .nav__logo img {
    max-width: 12rem;
  }
  .hero__section .hero__container {
    max-width: 100%;
    height: 100%;
    border: 0.4rem solid hsl(0, 0%, 100%);
  }
  .hero__section .hero__container p {
    font-size: 9.5vw;
  }
  .interactive__section {
    padding: 8rem 2rem;
  }
  .interactive__section .interactive__container .interactive__img img {
    max-width: 100%;
  }
  .interactive__section .interactive__container .interactive__text {
    position: static;
    max-width: 100%;
    text-align: center;
    padding-left: 0vw;
  }
  .interactive__section .interactive__container .interactive__text h1 {
    font-size: 2.8rem;
    margin-bottom: 2rem;
  }
  .interactive__section .interactive__container .interactive__text p {
    font-size: 2rem;
  }
  .creations__section {
    padding: 0rem 2rem 10rem 2rem;
    position: relative;
  }
  .creations__section .creations__container .creations__header h1 {
    font-size: 3.8rem;
    margin: auto;
    font-weight: 300;
  }
  .creations__section .creations__container .creations__header button {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.6rem;
    border: 0.2rem solid hsl(0, 0%, 0%);
    padding: 1rem 2rem;
  }
  .creations__section .creations__container .creations_images {
    grid-template-columns: 1fr;
  }
  .creations__section .creations__container .creations_images div .creations_images--mobile {
    display: block;
  }
  .creations__section .creations__container .creations_images div .creations_images--desktop {
    display: none;
  }
  .creations__section .creations__container .creations_images div h2 {
    max-width: 50%;
    font-size: 3rem;
    text-align: left;
    left: 28%;
  }
  footer {
    padding: 4rem;
  }
  footer .footer__container .footer__left img {
    max-width: 100%;
    margin-bottom: 2rem;
  }
  footer .footer__container .footer__left .footer__links {
    flex-direction: column;
    gap: 2rem;
  }
  footer .footer__container .footer__left .footer__links li {
    font-size: 2rem;
    font-weight: 400;
  }
  footer .footer__container .footer__right {
    align-items: center;
    margin-top: 2rem;
  }
  footer .footer__container .footer__copyright {
    font-size: 1.8rem;
  }
}/*# sourceMappingURL=styles.css.map */